[Desktop Entry]
Type=Application
Name=Gpotlight
Comment=Spotlight-style launcher for GNOME
Exec=gpotlight
Icon=io.github.gpotlight.Gpotlight
Categories=Utility;GTK;
StartupNotify=false
DBusActivatable=false
